/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    background: #f4f1f1;
    color: #222;
    line-height: 1.6;
}


.invisible-scrollbar {
  overflow-y: auto;
  max-height: 700px; // Adjust as needed

  // For Firefox
  scrollbar-width: none;

  // For WebKit browsers (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
